@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--violet11);
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  padding-left: 15px;
}